<%- include('partials/header')%>

<div class="col-md-6 offset-md-2">
  <h2 class="text-center">Write a new new-entry</h2>
  <!-- action is not necessary route is same -->
  <form method="post">
    <div class="form-group m-2">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        class="form-control m-2"
        placeholder="Entry a New Title"
        required
      />
    </div>

    <div class="form-group m-2">
      <label for="body">Entry Text</label><br />
      <textarea
        name="body"
        id="body"
        rows="5"
        required
        class="form-control m-2"
      ></textarea>
    </div>
    <div class="form-group text-center m-2">
      <input type="submit" value="Post Entry" class="btn btn-primary" />
    </div>
    <div class="form-group text-center m-2">
      <label for="image">Choose a picture:</label>
      <input
        type="file"
        id="image"
        name="image"
        accept="image/png, image/jpeg"
      />
    </div>
  </form>
</div>

<%- include('partials/footer')%>
